.Via {
  text-align: center;
  color: #11c1f4;
  font-size: 50px;
  font-family: Candara;
}

.DC {
  color: white;
  text-align: center;
  font-family: Comic Sans MS;
}

.Mail {
  color: white;
  text-align: center;
  margin-left: 9%;
  font-family: Comic Sans MS;
}

.Server {
  color: white;
  text-align: center;
  margin-left: 8%;
  font-family: Comic Sans MS;
}

.Nahi {
  color: #11c1f4;
}

.EM {
  color: #11c1f4;
}

.Link {
  color: #11c1f4;
}

body {
  background-color: rgb(19, 18, 18);
}

.wrapper{
	width: 100%;
}

.nav-bar {
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-bar .hamburger{
	display: none;
}

.nav-bar .nav-bar-left a{
	font-family: 'Comfortaa', cursive;
	font-size: 35px;
	color: #11c1f4;
	font-weight: bold;
	font-size: 50px;
}

.nav-bar .nav-bar-right ul li{
	display: inline-block;
	width: 90px;
	text-align: center;
	font-weight: bold;
}

.nav-bar .nav-bar-right ul li a{
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.5s ease;
	font-size: 20px;
}

.nav-bar .nav-bar-right ul li a.active{
	color: #11c1f4;
}

.nav-bar .nav-bar-right ul li a:hover{
	color: #11c1f4;
}


@media screen and (max-width: 768px){
	.nav-bar {
		flex-direction: column;
	    height: auto;
	    align-items: center;
		font-weight: bold;
	}
	.nav-bar .hamburger{
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #fff;
	}
	.nav-bar .nav-bar-left a{
		font-size: 50px;
		font-weight: bold;
	}
	.nav-bar .nav-bar-right{
		display: none;
	}
	.nav-bar .nav-bar-right ul li{
		display: block;
		padding: 10px;
		font-weight: bold;
	}

}

/*@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.nav-bar-right.active{
	display: block;
}

.container{
	width: 100%;
}
