h1{
	text-align: center;
}

p{
	text-align: center;
}

h1{
	font-size: 100px;
}

h1{
	font-family: Candara;
}

p{
	font-family: Candara;
}

p{
	font-size: 20px;
}

ul{
	font-size: 20px;
}

a{
	font-size: 20px;
}

*{
	font-family: Times New Roman;
	text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  float: right;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}