h1{
	text-align: center;
}

h1{
	font-size: 80px;
}

p{
	text-align: center;
}

p{
	font-size: 20px;
}

p{
	font-family: Candara;
}

ul{
	font-size: 20px;
}

ul{
	text-align: center;
}

a{
	font-size: 20px;
}